---
// Import the <Image /> component
import { Image } from "astro:assets"

import MainLatout from "./MainLayout.astro";

import { slugify, formatDate } from "../js/utils"

const { frontmatter } = Astro.props;

const { 
    title,
    date, 
    author, 
    image, 
    description, 
    draft, 
    category, 
    file, 
    url
 } = frontmatter;

---

<MainLatout {title} {description}>
    <header>
        <div class="container">
            <small>
                <a href={`/category/${slugify(category)}`} class="badge" >{category}</a>
            </small>
            <h1 class="h2">{title}</h1>
            <p>by <a href={`/author/${slugify(author)}`}>{author}</a> - {formatDate(date)} </p>
        </div>
        <Image 
            src={image.src} 
            alt={image.alt}
            width={1200}
            height={500}
            format="webp"
        >
    </header>
    <div class="post-content">
        <div class="content">
            <slot />
        </div>
        <div class="sidebar">

        </div>
    </div>
</MainLatout>

